
.article-meta_1 {
    display: flex;
    position: relative;
    font-weight: 300;
}

.article-page .banner .article-meta_1 {
    margin: 2rem 0 0 0;
}

.article-meta_1 img, .article-meta_2 img{
    border-radius: 32px;
}

.article-meta_1 .info, .article-meta_2 .info{
    margin: 0 1.5rem 0 0.5rem;
    /* display: inline-block; */
    vertical-align: middle;
    line-height: 1rem;
}

.article-meta_1 a{
    color: white;
}

.article-meta_1 .date, .article-meta_2 .date{
    color: #bbb;
    font-size: 0.8rem;
    display: block;
}

/* Article Content */
.article-page .article-content p {
    font-family: 'Source Serif Pro', serif;
    font-size: 1.3rem;
    line-height: 1.8rem;
    margin-bottom: 2rem;
}

.article-meta_2{
    display: flex;
    justify-content: center;
  margin: 1.5rem 0 3rem 0;
}

.article-meta_2 a{
    color: #5CB85C;
}
.form-control{
    display: block;
    width: 100%;
    border-radius: none !important;
    border: none !important;
    padding: 1.25rem !important;
}

.card {
    box-shadow: none !important;
    position: relative;
    display: block;
    margin-bottom: 0.75rem;
    background-color: #fff;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.125);
    border-radius: unset !important;
}


.comment-form .card-footer .btn {
    font-weight: 700;
    float: right;
}

.comment-form .card-footer .comment-author-img {
    height: 30px;
    width: 30px;
}

.card-footer {
    display: flow-root;
    border-top: 1px solid #e5e5e5;
    box-shadow: none !important;
    font-size: 0.8rem;
    font-weight: 400;
    padding: 1rem 1.5rem !important;
    background-color: #f5f5f5;
}

.card .comment-author-img {
    display: inline-block;
    vertical-align: middle;
    height: 20px;
    width: 20px;
    border-radius: 30px;
    margin-right: 5px;
}

.card .comment-author {
    display: inline-block;
    vertical-align: middle;
    color: #5CB85C;
}

.card .mod-options {
    float: right;
    color: #333;
    font-size: 1rem;
}

a:hover{
    text-decoration: underline !important;
}

.article-page .card .date-posted {
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
    color: #bbb;
}

.mod-options{
    color: darkgray !important;
    cursor: pointer;
}
.mod-options i:hover{
    color: #333
}