.navbar-brand {
    /* font-family: "Titillium Web", sans-serif; */
    font-size: 1.5rem !important;
    padding-top: 0rem !important;
    margin-right: 2rem !important;
    color: #5CB85C !important;
    font-weight: 650 !important;
}

.navbar-light .nav-item .nav-link{
    color: rgba(0, 0, 0, 0.3);
}

.navbar-light .nav-item .nav-link:hover{
    color: rgba(0, 0, 0, 0.6);
}

.navbar .nav a{
    font-size: 16px !important;
}

